.textbox {
    width: 100%;
    position: relative;
    padding: 5% 0.5%;
    border-radius: 3%;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    font-size: 100%;
    font-weight: 400;
    background-color: rgb(167, 238, 205);
}

.add_textbox_button {
    left: 1%;
    width: 10%;
    height: 20%;
    position: relative;
    background-color: rgb(167, 238, 205);
    font-size: 100%;
    border: none;
    box-shadow: none;
    color: white;
    text-align: center;
}

.remove_textbox_button {
    left: 2%;
    width: 10%;
    height: 20%;
    position: relative;
    background-color: rgb(167, 238, 205);
    font-size: 100%;
    border: none;
    color: white;
    text-align: center;
}

.num_events {
    left: 5%;
    width: 10%;
    height: 20%;
    position: relative;
}

.data_edit {
    width: 15%;
    height: 15%;
    position: absolute;
}

.circle_events {
    width: 60%;
    height: 95%;
    left: 25%;
    position: absolute;
    text-align: center;
}

.tick {
    z-index: -1;
}

.go_button {
    top: 5%;
    left: 1%;
    width: 100%;
    position: relative;
    padding: 5.5% 0.5%;
    border: none;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    font-size: 100%;
    font-weight: 400;
    background-color: lightblue;
}

.dust {
    width: 45%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    position: absolute;
    z-index: 0;
}
